altgraph==0.17.3
audioread==3.0.0
certifi==2022.12.07
cffi==1.16.0
cryptography==42.0.5
einops>=0.7
future==0.18.3
julius==0.2.7
kthread==0.2.3
librosa==0.10.1
llvmlite
matchering==2.0.6
ml_collections==0.1.1
natsort==8.2.0
omegaconf==2.2.3
opencv-python==4.10.0.84
Pillow==10.3.0
psutil==5.9.4
pydub==0.25.1
pyglet==1.5.23
pyperclip==1.8.2
pyrubberband==0.3.0
pytorch_lightning==2.4.0
PyYAML==6.0
resampy==0.4.2
scipy==1.14.1
soundstretch==1.2
urllib3==2.2.3
wget==3.2
samplerate==0.1.0
screeninfo==0.8.1
diffq
onnx==1.16.1
onnxruntime-gpu==1.23.2
onnx2pytorch
SoundFile==0.12.1
git+https://github.com/NathanEpstein/Dora.git
numpy==1.26.4
scikit-learn
huggingface_hub
gradio==3.50.2
beartype
rotary-embedding-torch==0.8.9
setuptools<81
